body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url("pic1.jpg");
    background-size: cover;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 900px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: rgba(225, 225, 225, 0.8);
    flex-grow: 1;
}

h1 {
    text-align: center;
    color: #444;
}

p {
    text-align: center;
    color: #666;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-container {
    margin-bottom: 20px;
    max-width: 90%;
}

.inline-group label,
.inline-group input,
.inline-group select {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="tel"],
input[type="date"],
select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="address"],
input[type="email"],
select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%; /* Corrected width issue */
    max-width: 100%; /* Corrected width issue */
}

input[type="radio"] {
    margin-right: 5px;
}

input[type="submit"], button[type="Submit"] {
    background: #5cb85c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover, button[type="Submit"]:hover {
    background: #4cae4c;
}

.success {
    color: green;
    text-align: center;
}

.error {
    color: red;
    text-align: center;
}

#add-new {
    display: inline-block;
    padding: 10px 20px;
    background-color: #5cb85c;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#add-new:hover {
    background-color: #4cae4c;
}

footer{
    margin-top: auto;
}